<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="page-title mt-3"> <%= @list.name %> </h1>
    <%= link_to list_movies_path(@list), class: "view-btn btn btn-outline-dark" do %>
      <i class="fa-solid fa-plus"></i> ADD MOVIES
    <% end %>
  </div>
  <% if @list.movies.empty? %>
    <p> Your watchlist is empty. </p>
  <% else %>
    <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
      <% @list.movies.each do |movie| %>
        <div class="col">
          <div class="movie-card h-100 d-flex flex-row">
            <div class="movie-img" style="background-image: url(<%= movie.poster_url %>)">
            <%= button_to list_movie_bookmark_path(@list, movie, movie.bookmarks.find_by(list: @list)), method: :delete, class: "bookmark-delete-btn" do %>
              <i class="fa-solid fa-xmark"></i>
            <% end %>
            </div>
            <div class="movie-card-content d-flex flex-column">
              <div class="movie-card-body">
                <h2 class="movie-title"><%= movie.title %></h2>
                <p class="movie-overview"><%= movie.overview %></p>
              </div>
              <div class="movie-card-bottom d-flex justify-content-between mt-auto align-items-center">
                <p class="movie-rating"><i class="fa-regular fa-star"></i> <%= movie.rating.round(1) %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
