<div class="container">
  <h1 class="page-title mt-3"> Movies </h1>
  <%= link_to list_path(@list), class: "backlink" do %>
    <i class="fa-solid fa-backward-step"></i> Back to list
  <% end %>
  <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
    <% @movies.each do |movie| %>
      <div class="col">
        <div class="movie-card h-100 d-flex flex-row">
          <div class="movie-img" style="background-image: url(<%= movie.poster_url %>)">
          </div>
          <div class="movie-card-content d-flex flex-column">
            <div class="movie-card-body">
              <h2 class="movie-title"><%= movie.title %></h2>
              <p class="movie-overview"><%= movie.overview %></p>
              <p class="movie-rating text-end"><i class="fa-regular fa-star"></i> <%= movie.rating.round(1) %></p>
            </div>
            <div class="movie-card-bottom d-flex mt-auto align-items-center">
              <% unless movie.bookmarks.exists?(list_id: params[:list_id]) %>
                <%= button_to list_movie_bookmarks_path(@list, movie), form_class: "bookmark-delete-btn-form", class: "bookmark-btn btn btn-outline-dark" do %>
                  <i class="fa-solid fa-plus"></i> BOOKMARK
                <% end %>
              <% else %>
                <%= button_to list_movie_bookmarks_path(@list, movie), form_class: "bookmark-delete-btn-form", class: "bookmark-btn btn btn-outline-dark" do %>
                  <i class="fa-regular fa-circle-check"></i> SAVED
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
